body {
    margin: 0;
    padding: 0;
}
/*  верхняя часть! */
.Head{
    background-color: blue;
    width: 100vw;
    height: 70px;
    display: flex;
    
}
.Head > ul{
    display: flex;
    width: 70%;
    justify-content: space-around;
    color: white;
    font-size: 20pt;
    margin: auto;
}
li{
    display: block;
    cursor: pointer;
}

.addPost{
    width: 520px;
    margin: 10px auto;
    background-color: blue;
    border-radius: 15px;
}
#newPostBtn{
    width: 100%;
    height: 40px;
    border-radius: 15px;
}
#newPostForm{
    width: 100%;
    display: none;
    flex-direction: column;
}
#TitlePost{
    width: 80%;
    height: 30px;
    margin: 10px auto;
}
#contentPost{
    width: 80%;
    height: 60px;
    margin: 0 auto;
    resize: none;
}
#sendPost{
    width: 30%;
    height: 30px;
    margin: 10px auto;
}
#newPostForm > select{
    width: 80%;
    margin: 10px auto 0 auto;
}


.postContainer{
    width: 100vw;
}
.post{
    width: 500px;
    margin: 10px auto;
    background-color: blue;
    padding: 10px;
}
.postHead{
    width: 100%;
    height: 50px;
    font-size: 10pt;
    border-bottom: 2px solid wheat;
    color: aliceblue;
}
/* Имя avtora */
.postHead>b{
    font-size: 16pt;
    color: wheat;
}
.post>h3{
    /* Титул */
    color: yellow;
}
.post>h4{
    /* Контент */
    color: beige;
}
.post>i{
    /* Category */
    padding: 0 10px;
    font-weight: bold;
    background-color: aqua;
}
.postBottom{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    border-top: 2px solid wheat;
}
.reactionBtns{
    width: 140px;
    height: 40px;
    margin-top: 4px;
    color: white;
    border: 1px solid gray;
    border-radius: 10px;
    font-size: 20pt;
}
.reactionBtns > svg{
    width: 35px;
    height: 35px;
}
.liked{
    color: red;
}

.commentArea{
    width: 100%;
    background-color: aliceblue;
    display: none;
}
.commentBlock{
    border-bottom: 1px solid gray;
}
.commentBlock > b{
    margin-right: 20px;
}
.comment_input{
    width: 70%;
    resize: none; /* disable resizing */
}
.inputMsg{
    display: none;
}

#postFilter{
    width: 500px;
    margin: 10px auto;
    background-color: blue;
    padding: 10px;
    border-radius: 5px;
    color: white;
}

.centerBlock{
    width: 500px;
    margin: 10px auto;
}

#profileInfo{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 10px 0;
    text-align: center;
    background-color: blue;
    color: wheat;
}

.Contacts{
    text-align: center;
}