:root {
    --mainBlue: #505B79;
    --mainLight: #DCB98D;
    --secondLight: #F8F2EA;
  }

body {
    margin: 0;
    padding: 0;
}
/*  верхняя часть! */
.Head{
    background-color: var(--mainBlue);
    width: 100vw;
    height: 70px;
    display: flex;
}
.Head > ul{
    display: flex;
    width: 70%;
    justify-content: space-around;
    color: white;
    font-size: 20pt;
    margin: auto;
}
li{
    display: block;
    cursor: pointer;
    font-family: monospace;
}


#addPost{
    background-color: var(--secondLight);
    border-radius: 15px;
}
#newPostBtn{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    background-color: var(--mainLight);
    color: white;
}
#newPostForm{
    width: 100%;
    display: none;
    flex-direction: column;
}
#TitlePost{
    width: 80%;
    height: 30px;
    margin: 10px auto;
}
#contentPost{
    width: 80%;
    height: 60px;
    margin: 0 auto;
    resize: none;
}
#sendPost{
    width: 30%;
    height: 30px;
    border-radius: 5px;
    margin: 10px auto;
    background-color: var(--mainLight);
}
#newPostForm > select{
    width: 80%;
    margin: 10px auto 0 auto;
    background-color: var(--mainLight);
}
.categoriesArea{
    margin: 20px 0 0 50px;
}
#filterArea{
    color: var(--mainBlue);
}
#filterArea > select{
    background-color: var(--mainLight);
    border-radius: 5px;
}

.postContainer{
    width: 100vw;
}
.post{
    background-color: var(--mainBlue);
    padding: 10px;
    border: 3px solid var(--secondLight);
    border-radius: 15px;
}
.postHead{
    width: 100%;
    height: 50px;
    font-size: 10pt;
    border-bottom: 2px solid wheat;
    color: aliceblue;
}
/* Имя avtora */
.postHead>b{
    font-size: 16pt;
    color: wheat;
}
.post>h3{
    /* Титул */
    color: yellow;
}
.post>h4{
    /* Контент */
    color: beige;
}
.post>i{
    /* Category */
    padding: 0 10px;
    font-weight: bold;
    color: rgb(185, 185, 180);
}
.postBottom{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    border-top: 2px solid wheat;
}
.reactionBtns{
    width: 140px;
    height: 40px;
    margin-top: 4px;
    color: white;
    border: 1px solid gray;
    border-radius: 10px;
    font-size: 20pt;
}
.reactionBtns > svg{
    width: 35px;
    height: 35px;
}
.liked{
    color: var(--mainLight);
}

.commentArea{
    width: 100%;
    background-color: aliceblue;
    display: none;
}

.commentBlock{
    border-bottom: 1px solid gray;
}
.commentBlock > b{
    margin-right: 20px;
}
.comment_input{
    width: 70%;
    resize: none; /* disable resizing */
}
.inputMsg{
    display: none;
}

#postFilter{
    width: 500px;
    margin: 10px auto;
    background-color: blue;
    padding: 10px;
    border-radius: 5px;
    color: white;
}

.centerBlock{
    width: 500px;
    margin: 10px auto;
}
.boldText{
    font-weight: bold;
    color: white;
    font-size: 12pt;
}

#profileInfo{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 10px 0;
    text-align: center;
    background-color: var(--mainBlue);
    color: wheat;
}

.Contacts{
    text-align: center;
}

.burger-menu {
    display: none;
    flex-direction: column;
    margin: 20px;
    cursor: pointer;
}
.burger-menu .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
    transition: 0.3s;
}

@media only screen and (max-width: 650px) {
    .centerBlock{
        width: 80%;
    }
    .reactionBtns{
        width: 90px;
    }
    .burger-menu {
        display: flex;
    }
    #headList{
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
    }
    #headList li {
        margin: 10px 0;
        text-align: center;
    }
    #headList.active {
        display: flex;
    }
}



